/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

.header {
  font-size: 50px;
  margin: auto;
  color: pink; }

.book, .search_box {
  margin: auto;
  width: 500px;
  border-radius: 15px;
  padding: 30px; }

.book {
  margin-top: 10px;
  background-color: lightblue; }

.book_name {
  font-size: 30px;
  color: red; }

.search_box {
  background-color: lightgreen; }

input {
  font-size: 25px; }

button {
  background-color: lightgrey;
  border-radius: 5px;
  padding: 5px;
  font-size: 25px; }
