<center>
<div class="header">IIIS Library</div>
</center>
<div class="search_box">
    <input type="text" />
    <button id="search_go">Search</button>
</div>
<% @books.each do |book| %>
    <div class="book">
        <div class="book_name"><%= book.name %></div>
        <br />
        <div class="description"><%= book.description %></div>
        <div>remain/total : <%= book.remain %> / <%= book.total %></div>
    </div>
<% end %>
